{% extends 'EncoreMerchantBundle::layout.html.twig' %}
{% block css %}
    <link href="{{ asset('bundles/encorecustomer/css/libs/bootstrap/datepicker.css') }}" rel="stylesheet"/>
{% endblock css %}

{% block require_js %}
    require(["libs/bootstrap/bootstrap-datepicker"]);
    require(["encore-merchant/events/create-event"]);
{% endblock require_js %}

{% block title %}Create An Event {% endblock title %}
{% block content %}
    <div class="create-event-wrap">
            <div class="create-event-container">
                <form class="create-event-form" method="POST" action="{{ path('encore_merchant_add_event') }}" {{ form_enctype(form) }}>
                    <h1 class="merchant-header">Create An Profile </h1>
                    <fieldset>
                        {{ form(form) }}
                        {{ form_rest(form) }}
                    </fieldset>
                </form>
            </div>
    </div>
{% endblock content %}