{# Created by rynecheow on 11/4/13. #}

{% extends 'EncoreCustomerBundle::layout.html.twig' %}

{% block require_js %}
    require(["encore/authentication/complete-profile"]);
{% endblock require_js %}

{% block title %}Complete Profile{% endblock title %}

{% block content %}
    <div class="complete-profile-container">
        <div class="signup-signin-logo" onclick="location.href='/';"></div>
        <form class="complete-profile-form" method="post" {{ form_enctype(form) }}>
            <h1 class="complete-profile-header">Complete Your Information</h1>
            <fieldset>
                {{ form_widget(form.username) }}
                <span class="parsley-error-list" style="display:none;" id="invalid-username">User Name Exists</span>
                {{ form_rest(form) }}
            </fieldset>
        </form>
    </div>

    <script type="application/javascript">
        $(function () {
                    $('.complete-profile-form').on("submit", ajaxUsername);
                    function ajaxUsername(e) {
                        e.preventDefault();

                        var un = $('.complete-profile-username').val();
                        console.log(un);
                        $.post(
                                "{{ path('encore_validate_username') }}",
                                {
                                    'username': un
                                },
                                function (response) {
                                    if (response.code == 200) {
                                        $.post(
                                                "{{ path('encore_complete_profile') }}",
                                                $('.complete-profile-form').serialize(),
                                                function (response2) {
                                                    window.location.replace(response2.path);
                                                },
                                                "json"
                                        );

                                        $('#invalid-username').css('display', 'none');
                                        return true;
                                    } else {
                                        $('#invalid-username').css('display', 'inline');
                                        return false;
                                    }
                                },
                                "json"
                        );
                    }
                }
        );
    </script>
{% endblock content %}