{# Created by rynecheow on 11/4/13. #}

{% extends 'EncoreCustomerBundle::layout.html.twig' %}

{% block content %}
<div class="profile-wrap">
    <div class="logo-wrap">
        <a><img class="edit-profile" src="{{ asset('bundles/encorecustomer/images/logo/profile/edit-gray.svg') }}"></a>
        <a><img class="view-profile" src="{{ asset('bundles/encorecustomer/images/logo/profile/view-gray.svg') }}"></a>
        <a><img class="history-profile" src="{{ asset('bundles/encorecustomer/images/logo/profile/purchase-gray.svg') }}"></a>
    </div>
    <p class="profile-title">
        Your Username:
    </p>
    <hr class="side" style="border: solid #ddd; border-width: 1px 0 0;  margin: 22px 10% 21px; height: 0; width:80%">
    {{ username }}
    {{ firstname }}
    {{ lastname }}
    {{ birthdate }}
    {{ contactno }}
    {{ address }}
</div>
{% endblock content %}