{# Created by rynecheow on 11/4/13. #}

{% extends 'EncoreCustomerBundle::layout.html.twig' %}
{% block css %}
    <link href="{{ asset('bundles/encorecustomer/css/libs/bootstrap/datepicker.css') }}" rel="stylesheet"/>
{% endblock css %}

{% block require_js %}
    require(["encore/profile/profile"]);
    require(["encore/profile/edit-profile"]);
    require(["libs/bootstrap/bootstrap-datepicker"]);
{% endblock require_js %}



{% block title %}View Profile{% endblock title %}
{% block content %}


    <div class="profile-wrap">
        <div id="static-logo" onclick="location.href='/';"></div>
        <div class="logo-wrap">

            <a class="view-hover" href="#view" data-toggle="tab">
                <div class="view-profile view-selected div-logo"></div>
            </a>

            <a class="edit-hover" href="#edit" data-toggle="tab">
                <div class="edit-profile div-logo"></div>
            </a>

            <a class="history-hover" href="">
                <div class="history-profile div-logo"></div>
            </a>

        </div>
        <div class="tab-content">
            <div class="content-wrap tab-pane active fade in" id="view">

                <p class="profile-big-title">
                    {{ username }}
                </p>

                <br/>
                <br/>

                <hr>
                <p class="profile-title">
                    Username
                </p>

                <p>
                    {{ username }}
                </p>
                <hr>
                <p class="profile-title">
                    Email
                </p>


                <p>
                    {{ email }}
                </p>
                <hr>
                <p class="profile-title">
                    First Name
                </p>

                <p>
                    {{ firstname }}
                </p>
                <hr>

                <p class="profile-title">
                    Last Name
                </p>

                <p>
                    {{ firstname }}
                </p>
                <hr>

                <p class="profile-title">
                    Birth Date
                </p>

                <p>
                    {{ birthdate }}
                </p>
                <hr>
                <p class="profile-title">
                    Contact No
                </p>

                <p>
                    {{ contactno }}
                </p>
                <hr>

                <p class="profile-title">
                    Address
                </p>

                <p>
                    {{ address }}
                </p>
            </div>
            <div class="content-wrap tab-pane fade" id="edit">
                <hr>
                <form class="edit-profile-form" method="post" {{ form_enctype(form) }}>
                    <fieldset>
                        {{ form(form) }}

                    </fieldset>
                </form>
            </div>
        </div>

    </div>
{% endblock content %}