{# Created by rynecheow on 11/4/13. #}

{% extends 'EncoreCustomerBundle::layout.html.twig' %}

{% block content %}
<div style="margin:10% 10%; height:800px; background: #f5f5f5;">
    <p class="profile-title" style="color:#9cceff;font-size:1.7em" >
        Your Username:
    </p>
    {{ username }}
    {{ firstname }}
    {{ lastname }}
    {{ birthdate }}
    {{ contactno }}
    {{ address }}
</div>
{% endblock content %}