{# Created by rynecheow on 11/4/13. #}

{% extends 'EncoreCustomerBundle::layout.html.twig' %}

{% block content %}
    <div class="profile-wrap">
        <div class="logo-wrap">

            <a class="view-hover" href="{{ path('encore_view_profile', {'id': app.user.id }) }}">
                <div class="view-profile view-selected div-logo"></div>
            </a>

            <a class="edit-hover" href="{{ path('encore_edit_profile', {'userId':app.user.id}) }}">
                <div class="edit-profile div-logo"></div>
            </a>

            <a class="history-hover" href="">
                <div class="history-profile div-logo"></div>
            </a>

        </div>
        <div class="content-wrap">

            <p class="profile-big-title">
                {{ username }}
            </p>

            <br/>
            <br/>
            <br/>

            <p class="profile-title">
                Username
            </p>

            <p>
                {{ username }}
            </p>
            <hr>
            <p class="profile-title">
                Email
            </p>


            <p>
                {{ email }}
            </p>
            <hr>
            <p class="profile-title">
                First Name
            </p>

            <p>
                {{ firstname }}
            </p>
            <hr>

            <p class="profile-title">
                Last Name
            </p>

            <p>
                {{ firstname }}
            </p>
            <hr>

            <p class="profile-title">
                Birth Date
            </p>

            <p>
                {{ birthdate }}
            </p>
            <hr>
            <p class="profile-title">
                Contact No
            </p>

            <p>
                {{ contactno }}
            </p>
            <hr>

            <p class="profile-title">
                Address
            </p>

            <p>
                {{ address }}
            </p>
        </div>
    </div>
{% endblock content %}