{% extends 'EncoreCustomerBundle::layout.html.twig' %}

{% block title %}
    Sign up
{% endblock title %}

{% block require_js %}
    require(["encore/authentication/signup"]);
{% endblock require_js %}

{% block content %}


    <div class="signUp-container">
        <div class="signup-signin-logo" onclick="location.href='{{ path("encore_home") }}';"></div>
        <form class="signUp-form" method="POST" action="{{ path('encore_signup') }}" {{ form_enctype(form) }}>
            <h1 class="signUp-header">Sign Up</h1>
            <fieldset>
                {{ form_widget(form.email) }}
                {{ form_widget(form.password) }}
                {{ form_widget(form.verifyPassword) }}
                <div class="checkbox">
                    {{ form_widget(form.agreement) }}
                    <label id="form_agreement_label" for="form_agreement">I agree with Encore's
                        <b>
                            <a href="{{ path('encore_terms_purchase') }}" target="_blank">Terms</a>
                        </b> &amp;
                        <b>
                            <a href="{{ path('encore_privacy') }}" target="_blank">Privacy</a>
                        </b>
                    </label>
                </div>
                {{ form_widget(form.register) }}
                {{ form_rest(form) }}
            </fieldset>
        </form>
        <div class="to_login">
            <p>Already have an account? <a href="/login">Sign in here.</a></p>
        </div>
    </div>



    <script type="application/javascript">
        $(function (e) {


                    $('.signup-email').on("click", ajaxEmail);


                    function ajaxEmail(e) {
                        $.post('{{ path('encore_validate_email') }}',
                                { 'email': e.target.value },
                                function (response) {
                                    console.log("my object: %o", response)
                                    if (response.code == 200 && response.status) {//dummy check
                                        console.log(" success");
                                        console.log("a" + response.message);
                                    }
                                    else {
                                        console.log("not success");
                                        console.log("b" + response.message);
                                    }

                                }, "json");
                    }
                }


        );


    </script>
{% endblock content %}