{# Created by rynecheow on 11/5/13. #}

{% extends 'EncoreCustomerBundle:Home:frame.html.twig' %}

{% block slideshow %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div id="main-logo"></div>
    <h2 class="spread-headline">
        Featured Events
    </h2>

    <div class="carousel-inner" id="slides" style="display:none;">
        {% for featured in featured_events %}
            <a class="item">
                <img src="{{ featured.photo }}" alt="{{ featured.description }}"/>
            </a>
        {% endfor %}
        {#<a class="item">#}
        {#<img src="{{ asset('bundles/encorecustomer/images/featured-cover/lady-gaga.jpg') }}" alt=""/>#}
        {#</a>#}
        {#<a class="item">#}
        {#<img src="{{ asset('bundles/encorecustomer/images/featured-cover/mayday.jpg') }}" alt=""/>#}
        {#</a>#}
        {#<a class="item">#}
        {#<img src="{{ asset('bundles/encorecustomer/images/featured-cover/snsd.jpg') }}" alt=""/>#}
        {#</a>#}
        <a class="slidesjs-next slidesjs-navigation slider-next" href="#" title="Next"></a>
        <a class="slidesjs-previous slidesjs-navigation slider-previous" href="#" title="Previous"></a>
    </div>
{% endblock slideshow %}

{% block new_events %}
    <div id="encore_new_events" class="home-new-events">
        <h2 class="spread-headline">
            New Events
        </h2>

        <div class="revealer">
            <ul class="grid cs-style-2">
                <li>
                    <figure>
                        <img src="{{ asset('bundles/encorecustomer/images/featured-cover/gdayx-malaysia.jpg') }}"
                             alt="img04">
                        <figcaption>
                            <h3>gDayx Malaysia</h3>
                            <span>31st November 2013</span>
                            <a href="">Take a look</a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="{{ asset('bundles/encorecustomer/images/featured-cover/lady-gaga.jpg') }}"
                             alt="img01">
                        <figcaption>
                            <h3>Lady Gaga</h3>
                            <span>12th December 2013</span>
                            <a href="">Take a look</a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="{{ asset('bundles/encorecustomer/images/featured-cover/mayday.jpg') }}" alt="img02">
                        <figcaption>
                            <h3>May Day - 2014 World Tour</h3>
                            <span>4th November 2013</span>
                            <a href="">Take a look</a>
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="{{ asset('bundles/encorecustomer/images/featured-cover/snsd.jpg') }}" alt="img05">
                        <figcaption>
                            <h3>Girls Generation - G-Star RAW</h3>
                            <span>20th January 2014</span>
                            <a href="">Take a look</a>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
{% endblock new_events %}