{# Created by rynecheow on 11/5/13. #}

{% extends 'EncoreCustomerBundle:Home:frame.html.twig' %}

{% block home_search %}
    <div class="home-search-wrapper">
        <form class="desktop search-form" action="{{ path('encore_global_search') }}">
            <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;">
                <input class="tt-hint" type="text" autocomplete="off" spellcheck="off" disabled=""
                       style="
                       position: absolute;
                       top: 0px;
                       left: 0px;
                       border-color: transparent;
                       box-shadow: none;
                       background-attachment: scroll;
                       background-clip: border-box;
                       background-color: rgba(0, 0, 0, 0);
                       background-image: none;
                       background-origin: padding-box;
                       background-size: auto;
                       background-position: 0% 0%;
                       background-repeat: repeat repeat;"/>
                <input type="text" data-value="Find the hottest events nearby."
                       class=tt-query" id="search" name="keywords" autocomplete="off" spellcheck="false"
                       dir="auto" style="
                       position: relative;
                       vertical-align: top;
                       background-color: transparent;"
                        />
                <span style="
                position: absolute;
                left: -9999px;
                visibility: hidden;
                white-space: nowrap;
                font-family: elena-web-basic, georgia;
                font-size: 56px; font-style: normal;
                font-variant: normal; font-weight: 400;
                word-spacing: 0px;
                letter-spacing: 0px;
                text-indent: 0px;
                text-rendering: auto;
                text-transform: none;">
                </span>
                <span class="tt-dropdown-menu"
                      style="position: absolute;
                      top: 100%;
                      left: 0px;
                      z-index: 100;
                      display: none;
                      right: auto;">
                </span>
            </span>
            <button id="search-submit" type="submit" disabled="true">
                <span></span>
            </button>
        </form>
    </div>
{% endblock home_search %}

{% block slideshow %}
    <h2 class="spread-headline">
        Featured Events
    </h2>

    <div class="carousel-inner" id="slides" style="display:none;">
        {% for featured in featured_events %}
            <a class="item">
                <img src="{{ vich_uploader_asset(featured.photo, 'image') }}" alt="{{ featured.photo.caption }}" />
                {#<img src="{{ featured.photo }}" alt="{{ featured.description }}"/>#}
            </a>
        {% endfor %}
        {#<a class="item">#}
        {#<img src="{{ asset('bundles/encorecustomer/images/featured-cover/lady-gaga.jpg') }}" alt=""/>#}
        {#</a>#}
        {#<a class="item">#}
        {#<img src="{{ asset('bundles/encorecustomer/images/featured-cover/mayday.jpg') }}" alt=""/>#}
        {#</a>#}
        {#<a class="item">#}
        {#<img src="{{ asset('bundles/encorecustomer/images/featured-cover/snsd.jpg') }}" alt=""/>#}
        {#</a>#}
        <a class="slidesjs-next slidesjs-navigation slider-next" href="#" title="Next"></a>
        <a class="slidesjs-previous slidesjs-navigation slider-previous" href="#" title="Previous"></a>
    </div>
{% endblock slideshow %}

{% block new_events %}
    <div id="encore_new_events" class="home-new-events">
        <h2 class="spread-headline">
            New Events
        </h2>

        <div class="revealer">
            <ul class="grid cs-style-2">
                {% for new in new_events %}
                    <li>
                        <figure>
                            <img src="{{ vich_uploader_asset(new.photo, 'image') }}" alt="{{ new.photo.caption }}" />
                            <figcaption>
                                <h3>{{ new.name }}</h3>
                                <span>{{ new.date }}</span>
                                <a href="">Take a look</a>
                            </figcaption>
                        </figure>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock new_events %}