{% trans_default_domain 'FOSUserBundle' %}

<form class="signUp-form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    <h2 class="signUp-heading">Sign Up</h2>
    {{ form_label(form.email,'Email') }}
    {{ form_widget(form.email, { 'attr': {'class': 'email'} }) }}
    {{ form_label(form.email,'Username') }}
    {{ form_widget(form.username, { 'attr': {'class': 'username'} }) }}
    {{ form_widget(form.plainPassword, { 'attr': {'class': 'password'} }) }}


    <div>
        <input class="submit" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>
