{% extends "EncoreCustomerBundle::layout.html.twig" %}

{% block require_js %}
    require(["libs/bootstrap/bootstrap-datepicker"]);
    require(['encore/purchase/seat-selection']);
{% endblock require_js %}

{% block css %}
    <link href="{{ asset('bundles/encorecustomer/css/libs/bootstrap/datepicker.css') }}" rel="stylesheet"/>
{% endblock css %}

{% block content %}
    <article class="seat-selection article">
        <div class="seat-selection-wrap">
            <div id="selectDateDiv">
                <label>Date:</label>
                <select id="dateList">
                    {% set dateArray = ["11/12/2013", "11/13/2013", "11/15/2013"] %}
                    <option selected="selected">Select Date</option>
                    {% for dateIndex, date in dateArray %}
                        <option value="{{ date }}">{{ date }}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="selectTimeDiv" hidden="hidden">
                <label>Time:</label>
                {% set timeArray = ["8:00", "12:00", "14:00"] %}
                {% for timeIndex, time in timeArray  %}
                    <input type="radio" value="{{ time }}" name="timeGroup">{{ time }}
                {% endfor %}
            </div>

            <div id="selectSectionDiv" hidden="hidden">
                <label>Section:</label>
                {% set sectionArray = ["VIP", "Premium", "Standard"] %}
                {% for secIndex, section in sectionArray  %}
                    <input type="radio" value="{{ section }}" name="sectionGroup">{{ section }}
                {% endfor %}
            </div>

            <div id="ticketQtyDiv" hidden="hidden">
                <label for="ticketQtySelector">Ticket Quantity:</label>
                <input id="ticketQtySelector" type="number" min="0" max="8" value="0"/>
            </div>

            <div id="seatAllocateDiv" hidden="hidden">
                <table class="seatTable">
                    <tbody>
                    {% set rowArray = ["A", "B", "C", "D", "E"] %}
                    {% for row, val in rowArray %}
                        {% if row == 0 %}
                            <tr>
                                {% for col in 0..10 %}
                                    <td>
                                        {% if col != 0 %}
                                            <div class="tableLabel">{{ col }}</div>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                        <tr id="row{{ row }}">
                            <td>
                                <div class="tableLabel">{{ val }}</div>
                            </td>
                            {% for col in 0..9 %}
                                <td>
                                    <div id="{{ row }}rowcol{{ col }}" class="empty">{{ col + 1 }}</div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <input type="button" value="reset" id="resetButton"/>
            </div>

            <form id="summaryForm">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <!--<img id="eventComplete" class="complete" />-->
                            <div id="eventComplete" class="complete"/>
                        </td>
                        <td>
                            <label>Event:</label>
                            <div>
                                <label id="eventLabel"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!--<img id="datetimeComplete" class="incomplete" />-->
                            <div id="datetimeComplete" class="incomplete"/>
                        </td>
                        <td>
                            <label>Date & Time:</label>
                            <div>
                                <label id="dateTimeLabel"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!--<img id="sectionComplete" class="incomplete" />-->
                            <div id="sectionComplete" class="incomplete"/>
                        </td>
                        <td>
                            <label>Section:</label>
                            <div>
                                <label id="sectionLabel"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!--<img id="ticketQtyComplete" class="incomplete" />-->
                            <div id="ticketQtyComplete" class="incomplete"/>
                        </td>
                        <td>
                            <label>Ticket Quantity:</label>
                            <div>
                                <label id="ticketQtyLabel"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!--<img id="seatAllocComplete" class="incomplete" />-->
                            <div id="seatAllocComplete" class="incomplete"/>
                        </td>
                        <td>
                            <label>Seat Allocation:</label>
                            <div>
                                <label id="seatAllocationLabel"></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="next" hidden="hidden"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </article>
{% endblock content %}