{% extends "EncoreCustomerBundle::layout.html.twig" %}

{% block require_js %}
    require(["libs/bootstrap/bootstrap-datepicker"]);
    require(['encore/purchase/seat-selection']);
{% endblock require_js %}

{% block css %}
    <link href="{{ asset('bundles/encorecustomer/css/libs/bootstrap/datepicker.css') }}" rel="stylesheet"/>
{% endblock css %}

{% block content %}
    <!--require(['encore/purchase/seat-selection']);-->
    <article class="seat-selection article">
        <div class="seat-selection-wrap">
            <div id='errorMessageContainer' style='display: none;'>
                <div id='errorMessageDiv' class='alert'>
                    <strong>Warning!</strong>
                    <ul>
                        <li id='errorMessage'/>
                    </ul>
                </div>
            </div>

            <div id="selectDateDiv">
                <label>Date:</label>
                {% for dateIndex, dates in dateArray %}
                    {% for date, times in dates %}
                        <table class="dateTimeTable">
                            <tbody>
                            <tr>
                                <td class="tableDateLabel">
                                    <div>{{ date }}</div>
                                </td>
                                <td class="tableTimeLabel">
                                    {% for key2, time in times %}
                                        <span>
                                                <input type="radio" name="time" value="{{ date }} {{ time }}:00"/><strong>{{ time }}</strong>
                                            </span>
                                    {% endfor %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    {% endfor %}
                {% endfor %}
            </div>


            <div id="selectSectionDiv" hidden="hidden">
                <label>Section:</label>

                <div class="btn-group section-group" data-toggle="buttons-radio">
                    <!--<button type="button" class="btn btn-primary selectSection">{</button>-->
                </div>
            </div>

            <div id="ticketQtyDiv">
                <label>Ticket Quantity:</label>
                <input id="ticketQtySelector" type="number" min="0" max="8" value="0"/>
            </div>

            <div id="seatAllocateDiv" hidden="hidden">
                <label>Seat Allocation:</label>

                <div class="table-wrapper">
                    <table class="seatTable">
                        {% set rowArray = [1,2,3,4,5] %}
                        {% for row, val in rowArray %}
                            {% if row == 0 %}
                                <tr>
                                    {% for col in 0..30 %}
                                        <td class="tableLabel">
                                            {% if col != 0 %}
                                                {{ col }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endif %}
                            <tr id="row{{ row }}">
                                <td class="tableLabel">
                                    {{ val }}
                                </td>
                                {% for col in 1..30 %}
                                    <td id="row{{ val }}col{{ col }}" class="empty">
                                        {{ col }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <input type="button" class="reset" value="reset" id="resetButton"/>
            </div>

            <form action="{{ path('encore_summary',{"eventId": event_id }) }}"id="summaryForm" style="z-index: 2;">
                <h2>Summary</h2>
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <img id="eventComplete" class="complete"/>
                        </td>
                        <td>
                            <h3>Event:</h3>

                            <div>
                                <input type="text" readonly name="event_name" value="{{ event_name }}" id="eventLabel" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img id="datetimeComplete" class="incomplete"/>
                        </td>
                        <td>
                            <h3>Date & Time:</h3>

                            <div>
                                <input type="text" readonly name="event_date_time" id="dateTimeInput" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img id="sectionComplete" class="incomplete"/>
                        </td>
                        <td>
                            <h3>Section:</h3>

                            <div>
                                <input type="text" readonly name="event_section" value="A" id="sectionInput" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img id="ticketQtyComplete" class="incomplete"/>
                        </td>
                        <td>
                            <h3>Ticket Quantity:</h3>

                            <div>
                                <input type="text" readonly name="event_ticket_qty" id="ticketQtyInput" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img id="seatAllocComplete" class="incomplete"/>
                        </td>
                        <td>
                            <h3>Seat Allocation:</h3>

                            <div>
                                <textarea readonly name="event_seat_allocation" id="seatAllocationInput"></textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input id="eventID" style="display:none;" hidden="hidden" value="{{ event_id }}"/>
                            <textarea style="display:none;" hidden="hidden" name="event_seat_allocation" id="seatAllocationLabel"></textarea>
                            <input class="submit" type="submit" value="next" hidden="hidden"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>

    </article>

    <script type="application/javascript">
    $(function () {

        /**
         * Unselects all selected seats
         * Remove text in seat allocation label at summary form
         * Reset text in ticket quantity label to value to ticket quantity to purchase
         */
        function resetSeats() {
            $("table.seatTable tbody tr td.selected").each(function () {
                $(this).attr("class", "empty");
            });
            $("#seatAllocationInput").val("");
            $("#seatAllocationLabel").val("");
        }

        /**
         * Hides/Display section selection step and un-check all checked section radio buttons
         * @param hideFlag
         */
        function hideSectionStep(hideFlag) {
            $("#sectionInput").val("");
            if (hideFlag) {
                $("#selectSectionDiv").attr("hidden", "hidden");
                $("#datetimeComplete").attr("class", "incomplete");
            } else {
                $("input:radio[name='sectionGroup']").removeAttr("checked");
                $("#selectSectionDiv").removeAttr("hidden");
                $("#datetimeComplete").attr("class", "complete");
            }
        }

        /**
         * Hides/Display ticket quantity step and set ticket quantity to 0
         * @param hideFlag
         */
        function hideTicketQtyStep(hideFlag) {
            
            if (hideFlag) {
                $("#ticketQtyDiv").attr("hidden", "hidden");
                $("#sectionComplete").attr("class", "incomplete");
            } else {
                $("#ticketQtySelector").val(0);
                $("#ticketQtyDiv").removeAttr("hidden");
                $("#sectionComplete").attr("class", "complete");
            }
        }

        /**
         * Hides and reset seat allocation step or Displays seat allocation step
         * @param hideFlag
         */
        function hideSeatAllocateStep(hideFlag) {
            if (hideFlag) {
                resetSeats();
                $("#seatAllocateDiv").attr("hidden", "hidden");
                $("input:submit").attr("hidden", "hidden");
                $("#seatAllocComplete").attr("class", "incomplete");
                $("#ticketQtyComplete").attr("class", "incomplete");
            } else {
                $("#seatAllocateDiv").removeAttr("hidden");
                $("#ticketQtyComplete").attr("class", "complete");
            }
        }

        /**
         * Called when radio button for time changes
         * Hides section selection step and hides ticket quantity and seat allocation steps
         */
        $("input:radio").change(function () {
            var selectedDateTime = $(this).val();
            var eventID = $("#eventID").val();

            /*
                Remove when Ajax returns without error
             */
            $("#dateTimeInput").val(selectedDateTime);
            $("#datetimeComplete").attr("class", "complete");
            /*

             */

            $.post(
                    "{{ path('encore_select_time') }}",
                    {
                        'id': eventID,
                        'datetime': selectedDateTime
                    },
                    function (response) {
                        if (response.code === 200) {
                            var eventSections = response.event_sections;
                            $("div#selectSectionDiv div").html("");
                            $.each(eventSections, function (index, value) {
                                $("div#selectSectionDiv div").append("<button type='button' class='btn btn-primary selectSection' data-id='" + value.id + "'>" + value.name + "</button>");
                            });
                            $("#dateTimeInput").val(selectedDateTime);
                            $("#datetimeComplete").attr("class", "complete");
                            hideSectionStep(false);
                            hideTicketQtyStep(true);
                            hideSeatAllocateStep(true);
                            return true;
                        } else {
                            $("#dateTimeInput").val("");
                            $("#datetimeComplete").attr("class", "incomplete");
                            hideSectionStep(true);
                            hideTicketQtyStep(true);
                            hideSeatAllocateStep(true);
                            return false;
                        }
                    },
                    "json"
            );
        });

        function initSeatsPlan(matrix) {
            var i, j, parent, seatTable, seatRow, seatColumn;
            parent = $("body");
            seatTable = $('<table/>', {
                "class": "seatTable",
                "id": "section1"
            }).appendTo(parent);

            for (i = 0; i < matrix.row; i = i + 1) {
                seatRow = $('<tr/>', {
                    "id": "row" + i
                }).appendTo(seatTable);

                for (j = 0; j < matrix.col; j = j + 1) {
                    seatColumn = $('<td/>').appendTo(seatRow);

                    $('<div/>', {
                        "id": i + "row" + "col" + j,
                        "class": "empty"
                    }).on("click", detectEmptySeat).appendTo(seatColumn);
                }
            }
        }

        /**
         * Called when radio button for section changes
         * Displays ticket quantity step and hides seat allocation step
         */
        $(".section-group").click(function(e){
            var eventID = $("#eventID").val();
            var selectedSectionId = $(e.target).data("id");

            $.post(
                    "{{ path('encore_select_section') }}",
                    {
                        //'eventId': eventID,
                        'eventSectionId': selectedSectionId
                    },
                    function (response) {
                        if (response.code === 200) {
                            var maxTicketQty = response.event_max_ticket_qty;
                            var seatPlan = response.event_section_seats;

                            $("#ticketQtySelector").attr("max", maxTicketQty);

                            $("table.seatTable").html("");
                            /**
                             * Generation of Seat Plan
                             */
                            initSeatsPlan(seatPlan);
                            /*$(seatPlan).each(function(index, value) {

                            });*/

                            hideTicketQtyStep(false);
                            $("#sectionInput").val($(e.target).text());
                            return true;
                        } else {
                            hideSeatAllocateStep(true);
                            return false;
                        }
                    },
                    "json"
            );
        });

    });
    </script>
{% endblock content %}