{% extends "EncoreCustomerBundle::layout.html.twig" %}

{% block require_js %}
    require(['encore/purchase/seat-selection']);
{% endblock require_js %}
{% block content %}
    <form>
        <table class="seatTable">
            <tbody>
            {% for row in 0..5 %}
                {% if row == 0 %}
                    <tr>
                        {% for col in 0..10 %}
                            <td>
                                {% if col != 0 %}
                                    <div class="tableLabel">{{ col }}</div>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endif %}
                <tr id="row{{ row }}">
                    <td>
                        <div class="tableLabel">{{ row + 1 }}</div>
                    </td>
                    {% for col in 0..9 %}
                        <td>
                            <div id="{{ row }}rowcol{{ col }}" class="empty">{{ col + 1 }}</div>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="button" value="reset" id="resetButton" disabled="disabled"/>
        <input type="submit" value="next" disabled="disabled"/>
    </form>
{% endblock content %}