{% extends "EncoreCustomerBundle::layout.html.twig" %}

{% block require_js %}
    require(["libs/bootstrap/bootstrap-datepicker"]);
    require(['encore/purchase/seat-selection']);
{% endblock require_js %}

{% block css %}
    <link href="{{ asset('bundles/encorecustomer/css/libs/bootstrap/datepicker.css') }}" rel="stylesheet"/>
{% endblock css %}

{% block content %}
    <article class="seat-selection article">
        <div class="seat-selection-wrap">
            <div id='errorMessageContainer' style='display: none;'>
                <div id='errorMessageDiv' class='alert'>
                    <strong>Warning!</strong>
                    <ul>
                        <li id='errorMessage' />
                    </ul>
                </div>
            </div>
            <div id="selectDateDiv">
                <label>Date:</label>
                <select id="dateList">
                    {% set dateArray = ["11/12/2013", "11/13/2013", "11/15/2013"] %}
                    <option selected="selected">Select Date</option>
                    {% for dateIndex, date in dateArray %}
                        <option value="{{ date }}">{{ date }}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="selectTimeDiv" hidden="hidden">
                <label>Time:</label>
                {% set timeArray = ["8:00", "12:00", "14:00"] %}
                {% for timeIndex, time in timeArray  %}
                    <input type="radio" value="{{ time }}" name="timeGroup">{{ time }}
                {% endfor %}
            </div>

            <div id="selectSectionDiv" hidden="hidden">
                <label>Section:</label>
                {% set sectionArray = ["VIP", "Premium", "Standard"] %}
                {% for secIndex, section in sectionArray  %}
                    <input type="radio" value="{{ section }}" name="sectionGroup">{{ section }}
                {% endfor %}
            </div>

            <div id="ticketQtyDiv" hidden="hidden">
                <label for="ticketQtySelector">Ticket Quantity:</label>
                <input id="ticketQtySelector" type="number" min="0" max="8" value="0"/>
            </div>
            <div id="seatAllocateDiv" hidden="hidden">
                <div class="table-wrapper">
                    <table class="seatTable">
                        {% set rowArray = ["A", "B", "C", "D", "E"] %}
                        {% for row, val in rowArray %}
                            {% if row == 0 %}
                                <tr>
                                    {% for col in 0..70 %}
                                        <td class="tableLabel">
                                            {% if col != 0 %}
                                                {{ col }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endif %}
                            <tr id="row{{ row }}">
                                <td class="tableLabel">
                                    {{ val }}
                                </td>
                                {% for col in 0..69 %}
                                    <td id="row{{ row }}col{{ col }}" class="empty">
                                        {{ col + 1 }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <input type="button" value="reset" id="resetButton"/>
            </div>

            <form id="summaryForm">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <div id="eventComplete" class="complete"/>
                        </td>
                        <td>
                            <label>Event:</label>
                            <div>
                                <label id="eventLabel"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="datetimeComplete" class="incomplete" />
                        </td>
                        <td>
                            <label>Date & Time:</label>
                            <div>
                                <label id="dateTimeLabel"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="sectionComplete" class="incomplete" />
                        </td>
                        <td>
                            <label>Section:</label>
                            <div>
                                <label id="sectionLabel"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="ticketQtyComplete" class="incomplete" />
                        </td>
                        <td>
                            <label>Ticket Quantity:</label>
                            <div>
                                <label id="ticketQtyLabel" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div id="seatAllocComplete" class="incomplete" />
                        </td>
                        <td>
                            <label>Seat Allocation:</label>
                            <div>
                                <label id="seatAllocationLabel"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="next" hidden="hidden"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </article>
{% endblock content %}