{% set anonymous = app.user is not defined or app.user is null %}
<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Encore! - {% block title %}{% endblock %}</title>

    {% javascripts "@encore_js" %}
    <script>
        var jsUrl = '{{ asset("bundles/encorecustomer/js") }}';
        var environment = '{{ app.environment }}';
    </script>
    <script data-main="{{ asset('js/encore.min') }}"
            src="{{ asset('bundles/encorecustomer/js/libs/require-jquery.min.js') }}"></script>
    <script>
        require(['encore.min'], function () {
            require(['encore/custom-navigation']);
            {% block require_js %}
            {% endblock require_js %}
        });
    </script>

    {% endjavascripts %}

    {% stylesheets "@encore_css" %}
    <link href="{{ asset('bundles/encorecustomer/css/libs/bootstrap/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/encorecustomer/css/libs/bootstrap/bootstrap-responsive.min.css') }}"
          rel="stylesheet"/>
    <link href="{{ asset('bundles/encorecustomer/css/libs/codrops/animated-border.css') }}"
          rel="stylesheet"/>
    <link href="{{ asset('css/encore.css') }}" rel="stylesheet"/>
    {% endstylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% block css %}
    {% endblock css %}

</head>

<body>
{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
        <div class="notification-bar">
            <div class="message-box {{ type }}">
                {{ flashMessage }}
                <span class="dismiss"></span>
            </div>
        </div>
    {% endfor %}
{% endfor %}
<nav id="bt-menu" class="bt-menu">
    <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
    <ul>
        {% if not anonymous %}
            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
            <li><a href="{{ path('encore_view_profile', {'id': app.user.id }) }}">Profile</a></li>
        {% else %}
            <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
            <li><a href="{{ path('encore_signup') }}">Sign Up</a></li>
        {% endif %}
        <li><a href="{{ path('encore_home') }}"><img id="nav-logo"
                                                     src="{{ asset('bundles/encorecustomer/images/logo/logo-white.svg') }}"
                                                     onmouseover="this.src = {{ asset('bundles/encorecustomer/images/logo/logo-color.svg') }}"
                                                     onmouseout="this.src = {{ asset('bundles/encorecustomer/images/logo/logo-white.svg') }}"/></a>
        </li>
        <li><a href="{{ path('encore_privacy') }}">Privacy</a></li>
        <li><a href="{{ path('encore_terms_purchase') }}">Terms</a></li>
        <li><a href="{{ path('encore_about') }}">About</a></li>
    </ul>
</nav>
<div class="wrapper">
    {% block content %}
        {{ block('fos_user_content') }}
    {% endblock content %}
</div>
<footer role="main">
    <div class="contain">
        <div id="newsletter">
            <h4>Fresh music, events and promo codes</h4>
            <a class="rounded-button" data-action="display" data-prevent-default="">MarmoNews Sign-Up</a>
        </div>

        <nav class="primary">
            <ol class="top">
                <li><a href="/" data-bypass="true" class="current">Home</a></li>
                <li><a href="/singles" data-bypass="true">Singles</a></li>
                <li><a href="/originals" data-bypass="true">Originals</a></li>
                <li><a href="/our-story" data-bypass="true">Our Story</a></li>
                <li><a href="/contact" data-bypass="true">Contact</a></li>
                <li><a href="http://blog.marmosetmusic.com">Blog</a></li>
            </ol>
            <ol class="bottom">
                <li><a href="/help" data-bypass="true">Help &amp; FAQ</a></li>
                <li><a href="/licensing" data-bypass="true">License Agreement</a></li>
                <li><a href="/legal" data-bypass="true">Legal / Privacy</a></li>
            </ol>
            <small>
                © Copyright 2013 BRLCK LLC
            </small>
        </nav>

        <nav class="social">
            <h4>Connect</h4>
            <ol>
                <li class="facebook"><a href="http://facebook.com/marmosetmusic" target="_blank"><span class="default"
                                                                                                       data-carousel-prevent-default="true"></span>
                        <span class="hover" data-carousel-prevent-default="true"></span>
                        <span class="active" data-carousel-prevent-default="true"></span>
                    </a></li>
                <li class="twitter"><a href="http://twitter.com/marmosetmusic" target="_blank"><span class="default"
                                                                                                     data-carousel-prevent-default="true"></span>
                        <span class="hover" data-carousel-prevent-default="true"></span>
                        <span class="active" data-carousel-prevent-default="true"></span>
                    </a></li>
                <li class="vimeo"><a href="http://vimeo.com/marmosetmusic" target="_blank"><span class="default"
                                                                                                 data-carousel-prevent-default="true"></span>
                        <span class="hover" data-carousel-prevent-default="true"></span>
                        <span class="active" data-carousel-prevent-default="true"></span>
                    </a></li>
                <li class="instagram"><a href="http://instagram.com/MarmosetMusic" target="_blank"><span class="default"
                                                                                                         data-carousel-prevent-default="true"></span>
                        <span class="hover" data-carousel-prevent-default="true"></span>
                        <span class="active" data-carousel-prevent-default="true"></span>
                    </a></li>
            </ol>
        </nav>
    </div>
</footer>
</body>
</html>
