<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Encore! - {% block title %}{% endblock %}</title>

    {% javascripts "@encore_js" %}
    <script>
        var jsUrl = '{{ asset("bundles/encorecustomer/js") }}';
        var environment = '{{ app.environment }}';
    </script>
    <script data-main="{{ asset('js/encore.min') }}" src="{{ asset('bundles/encorecustomer/js/libs/require-jquery.min.js') }}"></script>
    <script>
        require(['encore.min'], function(){
            {% block require_js %}
            {% endblock %}
        });

    </script>

    {% endjavascripts %}

    {% block stylesheets %}
        <link href="{{ asset('css/encore.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/encorecustomer/css/libs/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/encorecustomer/css/libs/bootstrap-responsive.min.css') }}" rel="stylesheet" />
    {% endblock %}

    {% block javascripts %}
    {% endblock %}


    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
<div class="st-container st-effect-3">
    <div class="st-pusher">
        <nav class="st-menu st-effect-3" id="menu-3">
            {{ include('EncoreCustomerBundle:Authentication:loginForm.html.twig') }}
        </nav>
        <div class="st-content">
            <div class="st-content-inner">
                {{ include('EncoreCustomerBundle:Header:header.html.twig') }}
                <div class="content">
                    {% block content %} {{ block('fos_user_content') }} {% endblock %}
                </div>
                {{ include('EncoreCustomerBundle:Footer:footer.html.twig') }}
            </div>
        </div>
    </div>
</div>
</body>

</html>
